{% extends "layout.html" %}

{% block content %}
    <section class="about">

        <div class="about-row">
            <div class="about-text">
                <h2>What is time-banking?</h2>
                <p>Imagine a world in which you don't have to pay money for someone to help you garden or paint your walls. Instead, you get helped by helping others. This is the concept behind time-banking. Through collectively tapping into our skills and offering to spend a little of our precious time together, we can build a community which relies on each other rather than relying on money.</p>
                <p>The way it works is simple: If you see someone who needs help and you feel skilled enough to jump in, you provide your services to them. After you complete the task, you earn <a href="#Uuros">Uuros</a>. Uuros are a way for you to keep track of how much time you have spent helping others, and your way of getting a return on that time. After saving up enough Uuros, you yourself can post requests for tasks you need help with.</p>
            </div>
            <div class="about-image">
                <div class="slideshow">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-1.jpg') }}" alt="mission">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-2.jpg') }}" alt="mission">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-3.jpg') }}" alt="mission">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-4.jpg') }}" alt="mission">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-5.jpg') }}" alt="mission">
                </div>
            </div>
        </div>

        <div class="about-row reverse">
            <div class="about-text">
                <h2>Why should I get involved?</h2>
                <p>Time-banking has been shown to have amazing benefits for people who participate: Living in a capitalist society can sometimes feel  isolating and time-banking is a productive way to ease that feeling. By getting involved in your local community, you actively combat loneliness and contribute to a stronger social network. On top of that, you get the opportunity to use your skills and knowledge to help others.</p>
                <p>If these are not enough benefits for you, being an active participant in time-banking can save you money you would otherwise spend on services, such as plumbing, pet sitting, or house cleaning. This money you save can be spent in other ways that feel more personal and meaningful to you.</p>
            </div>
            <div class="about-image">
                <div class="slideshow">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-8.jpeg') }}" alt="mission">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-9.jpeg') }}" alt="mission">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-10.jpeg') }}" alt="mission">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-11.jpeg') }}" alt="mission">
                    <img src="{{ url_for('static', filename='images/bar_la_papa/img-12.jpeg') }}" alt="mission">
                </div>
            </div>
        </div>
        <div class="about-row" id="Uuros">
            <div class="about-text">
                <h2>What are Uuros?</h2>
                <p>Even though time banking does not rely on a currency that has economic value, it is necessary to track how much time a person spends helping others so they can have a fair return for their efforts. That is why the Uuro was created. Its name is a play on the words "uur" (Dutch for "hour") and "Euro" (currency in 21 European countries) because that best describes its use: you get 1 uuro for 1 hour you spend helping others. Uuros can be tracked online throught the time-banking system or you can get physical Uuro notes at in-person events.</p>
                <p>The design features birds that are prominent in Amsterdam Noord - the Swan and the Heron - to create ties to the neighbourhood.</p>
            </div>
            <div class="about-image">
                <img src="/static/images/uuro.png" alt="Uuro Design">
            </div>
        </div>
    </section>
{% endblock %}