{% extends "layout.html" %}

{% block content %}
<section class="events">
    <h1>Events</h1>

    <div class="events-list">
        <div class="event-card">
            <div class="event-content">
                <div class="event-header">
                    <h2>Bar La Papa</h2>
                    <span class="event-date">every Monday | 17:00 - 20:00</span>
                </div>
                <p>Bar la Papa is a weekly time-banking restaurant on the wonderful Groene Veld, where surplus of food and altruism gets converted into free, warm, three-course dinners for everyone. Donations for the food can be made either in Euros or in Uuros. Here we showcase that once the right ingredients come together, we can fight for a world where free food for everyone is possible. The main ingredients are our time, our love and our warmth - these ingredients are something we all have.</p>
                <p>Another goal we have at Bar la Papa is to minimise food waste. For this reason, all food is cooked with rescued ingredients that we source from many different sources. The food is still fresh and more than safe to cook with but because of packaging issues or aesthetic defects, vendors refuse to sell it and it would end up in the trash.</p>
                <a href="https://hetgroeneveld.amsterdam/en/event/bar-la-papa/" class="event-btn">>>> Bar La Papa</a>
            </div>
            <div class="event-image">
                <img id="img1" src="{{ url_for('static', filename='images/bar_la_papa/img-7.jpeg') }}" alt="bar la papa">
            </div>
        </div>
        <div class="event-card">
            <div class="event-content">
                <div class="event-header">
                    <h2>Het Groene Veld</h2>
                </div>
                <p>Het Groene Veld is one of the last free open spaces in Amsterdam. It gives room to many artists, independent makers and community organisations. Its grounds are used to host community events such as Bar La Papa.</p>
                <p>Currently, het Groene Veld is at risk of being closed down and they are collecting signatures for a petition to remain a free space, without intervention from the city. Find out how you can help by clicking the link below.</p>
                <a href="https://hetgroeneveld.amsterdam/" class="event-btn">>>> Het Groene Veld</a>
            </div>
            <div class="event-image">
                <img id="img2" src="{{ url_for('static', filename='images/groene_veld/night.jpeg') }}" alt="event">
            </div>
        </div>
    </div>
</section>
{% endblock %}