{% extends "layout.html" %}

{% block content %}
    <section class="hero">
        <div class="hero-logo">
            <img src="{{ url_for('static', filename='images/buuro-logo.svg') }}" alt="<span class="notranslate">Buuro</span>">
        </div>
        <div>
            <p>At <span class="notranslate">Buuro</span> we bring Amsterdam Noord together through shared time.</p>
        </div>
        <div class="hero-cta">
            <p><a href="#overview">Find out more</a></p>
            <img src="{{ url_for('static', filename='images/icons/squiggle_arrow-icon.svg') }}" alt="scroll down">
        </div>
    </section>

    <section class="below-fold">
        <div class="section-grid" id="overview">

            <div class="section-col">
                <h2>Events</h2>
                <div class="card">
                    <div class="card-item">
                        <h3>Bar La Papa - every Monday</h3>
                        <div class="card-text">
                            <p>Bar la Papa is a weekly time-banking restaurant on the wonderful Groene Veld, where surplus of food and altruism gets converted into free, warm, three-course dinners for everyone.</p>
                        </div>
                        <a class="more-info" href="{{ url_for('events') }}">more info</a>
                    </div>
                    <div class="card-item">
                        <h3>Het Groene Veld</h3>
                        <div class="card-text">
                            <p>Het Groene Veld is one of the last free open spaces in Amsterdam. It gives room to many artists, independent makers and community organisations. Its grounds are used to host community events such as Bar La Papa.</p>
                        </div>
                        <a class="more-info" href="{{ url_for('events') }}">more info</a>
                    </div>
                </div>
            </div>

            <div class="section-col">
                <h2><span class="notranslate">Buuro</span>'s Mission</h2>
                <div class="card">
                    <div class="card-item">
                        <p>Our time is maybe the most precious thing we have. What you do with your time can make a big difference for yourself and for others. At <span class="notranslate">Buuro</span> we believe that time is best used on, for, and with each other. On our <a href="https://buuro.net/en">website</a> you can find neighbours that can and want to help each other.</p>
                        <p>Sometimes you need help, sometimes someone else could really use yours. That is how we create a friendly atmosphere and support within the neighbourhood. Happiness multiplies by sharing it, so go and find the neighbour that can use your help today!</p>
                        <a class="more-info" href="{{ url_for('about') }}">more info</a>
                    </div>
                </div>
            </div>

            <div class="section-col">
                <h2>Recent Requests</h2>
                <div class="card">
                    <div class="card-item">
                        <h3>Iris Klok — 3 uuros</h3>
                        <div class="card-text">
                            <p>Because of a recent injury on my hand, I need someone to come by and maintain my garden once a week until my injury is healed.</p>
                        </div>
                        <a class="more-info" href="{{ url_for('requestIris') }}">more info</a>
                    </div>
                    <div class="card-item">
                        <h3>Minseo Lee — 2 uuros</h3>
                        <div class="card-text">
                            <p>Since I just moved here as a student from abroad, I need some help figuring out Dutch burocracy.</p>
                        </div>
                        <a class="more-info" href="{{ url_for('requestMinseo') }}">more info</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}