{% extends "layout.html" %}

{% block content %}
    <section class="hero">
        <div class="hero-logo">
            <img src="{{ url_for('static', filename='images/buuro-logo.svg') }}" alt="Buuro">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, quia laborum, sapiente sunt, vel alias quae aut corrupti atque cumque velit excepturi labore nemo. Laborum?</p>
        <div class="hero-cta">
            <span>Find out more</span>
            <img src="{{ url_for('static', filename='images/squiggle_arrow-icon.svg') }}" alt="scroll down">
        </div>
    </section>
    <section class="below-fold">
        <div class="section-grid">
            <div class="section-col">
                <h2>Buuro's Mission</h2>
                <div class="card">
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quo, atque dolorum voluptas nam ex deleniti fuga, laboriosam consequuntur unde cum asperiores soluta optio vel reiciendis dolores sed, non aliquid sapiente animi. Tempore commodi, reiciendis maiores delectus beatae iste doloribus quisquam maxime! Itaque facere ullam impedit saepe, repellat dignissimos consequatur!</p>
                    </div>
                    <a href="{{ url_for('about') }}">more info</a>
                </div>
            </div>

            <div class="section-col">
                <h2>Events</h2>
                <div class="card">
                    <div class="card-item">
                        <h3>Bar La Papa</h3>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, reiciendis aspernatur. Totam sint in aspernatur voluptatibus consequatur assumenda ipsum labore!</p>
                        </div>
                        <a href="{{ url_for('events') }}">more info</a>
                    </div>
                    <div class="card-item">
                        <h3>Het Groen Veld</h3>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque alias adipisci veniam rem dicta sit nobis molestias aperiam quibusdam eaque.</p>
                        </div>
                        <a href="{{ url_for('events') }}">more info</a>
                    </div>
                </div>
            </div>

            <div class="section-col">
                <h2>Recent Requests</h2>
                <div class="card">
                    <div class="card-item">
                        <h3>Iris Klok — 3 uuros</h3>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur nulla quo consequatur repellendus architecto a.</p>
                        </div>
                        <a href="{{ url_for('requests') }}">more info</a>
                    </div>
                    <div class="card-item">
                        <h3>Minseo Lee — 2 uuros</h3>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non, molestiae ea in nisi blanditiis?</p>
                        </div>
                        <a href="{{ url_for('requests') }}">more info</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}